@tailwind base;
@tailwind components;
@tailwind utilities;

.value-1 {
  color: blue;
}
.value-2 {
  color: green;
}
.value-3 {
  color: red;
}
.value-4 {
  color: purple;
}
.value-5 {
  color: maroon;
}
.value-6 {
  color: turquoise;
}
.value-7 {
  color: black;
}
.value-8 {
  color: gray;
}

.cellBtn {
  cursor: pointer;
  text-align: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-width: 4px;
  background-color: #c0c0c0;
  border-left-color: white;
  border-right-color: #7b7b7b;
  border-top-color: white;
  border-bottom-color: #7b7b7b;
}

.cellBtn:active {
  border-top-color: #7b7b7b;
  border-bottom-color: white;
  border-left-color: #7b7b7b;
  border-right-color: white;
}

.cellBtn:hover {
  background-color: #b4b3b3;
}

.cellBtnVisible {
  font-size: 21px;
  cursor: pointer;
  font-weight: 700;
  border: 1px solid #7b7b7b;
  background-color: #c0c0c0;
}

.red {
  background-color: red;
}


.vt323-regular {
  font-family: "VT323", serif;
  font-weight: 400;
  font-style: normal;
}


.board-container {
  pointer-events: none;
}

.neon-text {
  color: #00FFB3; /* Neon Green */
  font-size: 3rem;
  text-shadow: 
    0 0 5px #00FFB3,
    0 0 10px #00FFB3,
    0 0 20px #00FFB3,
    0 0 40px #00FFB3,
    0 0 80px #00FFB3;
}

/* Neon SVG Effect */
.neon-svg {
  fill: #FF00FF; /* Neon Pink */
  filter: drop-shadow(0 0 5px #FF00FF) drop-shadow(0 0 15px #FF00FF);
  width: 100px;
  height: 100px;
}

/* Neon Border Effect */
.neon-box {
  width: 300px;
  height: 150px;
  border: 2px solid #00E6FF; /* Neon Blue */
  box-shadow: 
    0 0 5px #00E6FF,
    0 0 10px #00E6FF,
    0 0 20px #00E6FF;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}