@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neon-color: #FF00FF; /* Neon Pink for Default */
  --neon-colortext: #FF00FF; /* Neon Pink for Default */
  --neon-shade: rgb(56, 56, 56);
}


/* Custom CSS */
.neon-cell {
  --neon-color: #FFFFFF; /* Black Background */
}

.neon-board {
  --neon-color: #6f00ff; /* Dark Gray for Variations */
}

.neon-border {
  --neon-color: #FF00FF; /* Dark Gray Border */
}

.neon-text {
  --neon-colortext: #FFFFFF; /* White Text for Contrast */
}

.neon-bomb {
  --neon-color: #FF4500; /* Neon Orange-Red for Bomb */
}

.neon-flag {
  --neon-color: #FF4500; /* Bright Gold for Flags */
}

.neon-explosion {
  --neon-color: #FF0000; /* Bright Red for Explosions */
}



.neon-smile {
  --neon-color: #FFD300; /* Neon Yellow for Smile */
}

.neon-oh {
  --neon-color: #FF6347; /* Neon Coral for 'Oh' Expression */
}

.neon-lost {
  --neon-color: #FF0000; /* Bright Red for Lost State */
}

.neon-won {
  --neon-color: #32CD32; /* Neon Lime Green for Won State */
}



.value-1 {
  --neon-colortext: #FF00FF; /* Neon Pink for 1 */
}

.value-2 {
  --neon-colortext: #00FFB3; /* Neon Green for 2 */
}

.value-3 {
  --neon-colortext: #00E6FF; /* Neon Cyan for 3 */
}

.value-4 {
  --neon-colortext: #FFD300; /* Neon Yellow for 4 */
}

.value-5 {
  --neon-colortext: #FF4500; /* Neon Orange-Red for 5 */
}

.value-6 {
  --neon-colortext: #8A2BE2; /* Neon Purple for 6 */
}

.value-7 {
  --neon-colortext: #FF6347; /* Neon Coral for 7 */
}

.value-8 {
  --neon-colortext: #7CFC00; /* Neon Lime Green for 8 */
}

.cellBtn {
  box-shadow: inset 1px 1px 1px var(--neon-color),
    inset 1px 1px 1px var(--neon-color),
    inset 1px 1px 3px var(--neon-color);
  transition: all 0.2s ease-in-out;
  background: #000;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-width: 2px;
  border-left-color: var(--neon-color);
  border-right-color: rgb(56, 56, 56);
  border-top-color: var(--neon-color);
  border-bottom-color: rgb(56, 56, 56);
}

.cellBtn:active {
  border-top-color: rgb(56, 56, 56);
  border-bottom-color: white;
  border-left-color: rgb(56, 56, 56);
  border-right-color: white;
}

.cellBtn:hover {
  background-color: rgb(56, 56, 56);
}

.cellBtnVisible {
  filter: none;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  cursor: pointer;
  font-weight: 700;
  background-color: #000;
  border-radius: 10px;
  border-width: 4px;
  border-top-color: rgb(56, 56, 56);
  border-bottom-color: rgb(56, 56, 56);
  border-left-color: rgb(56, 56, 56);
  border-right-color: rgb(56, 56, 56);
}

@keyframes slideLeftRight {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.red {
  background-color: rgb(255, 230, 0);
  animation: slideLeftRight 4s linear infinite;
}


.vt323-regular {
  font-family: "VT323", serif;
  font-weight: 400;
  font-style: normal;
}


.board-container {
  pointer-events: none;
}

.neon-text {
  color: var(--neon-colortext);
  text-shadow: 
    0 0 5px var(--neon-colortext),
    0 0 10px var(--neon-colortext),
    0 0 20px var(--neon-colortext),
    0 0 40px var(--neon-colortext),
    0 0 80px var(--neon-colortext);
}

/* Neon SVG Effect */
.neon-svg {
  stroke: var(--neon-color);
  fill: var(--neon-color);
  filter: drop-shadow(0 0 5px var(--neon-color)) 
  drop-shadow(0 0 15px var(--neon-color))
  ;
}

/* Neon Border Effect */
.neon-box {
  border: 2px solid var(--neon-color);
  box-shadow: 
    0 0 5px var(--neon-color),
    0 0 10px var(--neon-color),
    0 0 20px var(--neon-color);
  background: #000;
  border-radius: 10px;
}